# Ignore everything by default
*

!app/*
!app/simple_logger.py
!Dockerfile
!requirements.txt
!templates/*
!README.md
!deploy/
!deploy/deploy.py
!.gitignore

# Ignore
credentials.json
.env
deploy/env.yaml
venv/